<div class="max-w-sm rounded overflow-hidden shadow-lg m-5 px-25">
  <div class="px-6 py-4">
    <div class="mb-8">
<div class="container">
<h2 class="p-2 text-purple-light">Update Community</h2>
<form action="/community/{{id}}?_method=PUT" method="post">
  <p class="p-2">
    <label for="name">Name  </label>
    <input type="text" name="name" id="name" value="{{name}}" class="border-2 border-grey rounded p-2">
  </p>
  <p class="p-2">
    <label for="description">Description  </label>
    <textarea type="text" name="description" id="description" class="border-2 border-grey rounded p-2">{{description}}
</textarea>
  </p>
  <p class="p-2">
    <label for="users">Users  </label>
    <textarea type="text" name="users" id="users" class="border-2 border-grey rounded p-2">{{users}}
      </textarea>
  </p>
  <p class="p-2">
    <label for="meets">Meets  </label>
    <input type="text" name="meets" id="meets" value="{{meets}}" class="border-2 border-grey rounded p-2">
  </p>
  <p class="p-2">
    <input type="submit" value="Update" class="button bg-purple-light rounded p-2 text-white">
  </p>
</form>
</div>
</div>
</div>
