<div class="container">
<h3>Edit Community</h3>
<form action="/community/{{community.id}}?_method=PUT" method="post">
  <p>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="{{community.name}}">
  </p>
  <p>
    <label for="description">Description:</label>
    <input type="text" name="description" id="description" value="{{community.description}}">
  </p>
  <p>
    <label for="users">Users:</label>
    <input type="text" name="users" id="users" value="{{community.users}}">
  </p>
  <p>
    <label for="meets">Meets:</label>
    <input type="text" name="meets" id="meets" value="{{community.meets}}">
  </p>
  <p>
    <input type="submit" value="Save" class="btn amber darken-1">
  </p>
</form>
</div>
