<div class="max-w-md w-full lg:flex">
    <div class="border-r border-b border-l border-grey-light lg:border-l-0 lg:border-t lg:border-grey-light bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
      <div class="mb-8">
<h3>{{name}}</h3>
<p>{{description}}</p>
<p>{{users}}</p>
<p>{{meets}}</p>
<p>{{date}}</p>

<i class="material-icons">edit</i>
<button type="button" name="edit"><a href="/community/{{id}}/edit">Edit</a></button>


<form action="/community/{{id}}?_method=DELETE" method="post">
<i class="material-icons">delete</i>
  <input type="submit" value="Delete">
</form>
</div>
</div>
</div>
