<div class="max-w-sm rounded overflow-hidden shadow-lg m-5 px-25">
  <div class="px-6 py-4">
      <div class="mb-8">
<h2 class="text-purple-light">{{name}}</h2>
</div>
<i class="fas fa-plus-square p-1" style="color:#d6bbfc"></i>
<a href="#" style="text-decoration:none" class="inline-block text-sm p-3 leading-none border rounded text-purple-light border-purple-light hover:border-transparent hover:text-white hover:bg-purple-light mt-4 lg:mt-0">
  Join Community
</a>
<i class="fas fa-calendar-plus p-1" style="color:#d6bbfc"></i>
<a href="/meet/new" style="text-decoration:none" class="inline-block text-sm p-3 leading-none border rounded text-purple-light border-purple-light hover:border-transparent hover:text-white hover:bg-purple-light mt-4 lg:mt-0">
  Create Meet
</a>
        <div class="flex items-center p-2">
          <div class="text-md">
            <p class="text-black text-base"><i class="fas fa-info p-1" style="color:#d6bbfc"></i>{{description}}</p>

          </div>
      </div>
      <div class="flex items-center p-2">
        <div class="text-md">
          <p class="leading-none"><i class="fas fa-users p-1" style="color:#d6bbfc"></i>{{users}}</p>
        </div>
      </div>
      {{#each meets}}
      <div class="px-10 py-8 mx-auto"> <i class="far fa-calendar-alt p-1" style="color:#d6bbfc"></i>
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2 text-center">Next Meet - {{ name }}</span>
      </div>
      {{/each}}
      <div class="flex items-center">
        <div class="text-sm">
      <p class="text-grey-dark p-2"><i class="far fa-clock p-1" style="color:#d6bbfc"></i>{{ date }}</p>
    </div>
    <i class="far fa-edit p-1" style="color:#d6bbfc"></i>
<form class="p-1">
<button type="button" name="edit" class="border-2 border-grey rounded focus:bg-white focus:border-purple-light bg-purple-light p-1"><a href="/community/{{id}}/edit" class="text-white" style="text-decoration:none">Edit</a></button>
</form>
<i class="far fa-trash-alt p-1" style="color:#d6bbfc"></i>
<form action="/community/{{id}}?_method=DELETE" method="post" class="p-1">
  <input type="submit" value="Delete" class="text-white border-2 border-grey rounded focus:bg-white focus:border-purple-light focus:text-purple-light p-1 bg-purple-light">
</form>
</div>
</div>
</div>
{{#each meets}}
<div class="max-w-sm rounded overflow-hidden shadow-lg m-5 px-25">
  <div class="px-6 py-4">
      <div class="mb-8">
<h2 class="text-purple-light p-2">{{name}}</h2>
<p class="text-grey-dark p-2"><i class="fas fa-info p-2" style="color:#d6bbfc"></i>{{ description }}</p>
<p class="text-grey-dark p-2"><i class="fas fa-map-marker-alt p-2" style="color:#d6bbfc"></i>{{ location }}</p>
<p class="text-grey-dark p-2"><i class="far fa-clock p-2" style="color:#d6bbfc"></i>{{ time }}</p>
<p class="text-grey-dark p-2"><i class="far fa-calendar-alt p-2" style="color:#d6bbfc"></i>{{ date }}</p>
<p class="text-grey-dark p-2">{{ community }}</p>
</div>
</div>
</div>
{{/each}}
